.background {
    background: url(/assets/background.jpg) no-repeat center;
    background-size: cover;
}

body {
    background: url(/assets/martin-shreder-5Xwaj9gaR0g-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.fonte01 {
    font-family: 'Baloo 2', cursive;
}

.fonte-tamanho {
    font-size: 1.2rem;
}